<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daoliuhe.drive"
    android:screenOrientation="landscape"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!--
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e9946becb0af8c1516190bd2f56c1143" />

        <activity
            android:name="com.daoliuhe.drive.ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.daoliuhe.drive.ui.SubjectActivity"
            android:label="@string/title_activity_subject"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.daoliuhe.drive.ui.ParamActivityity"
            android:label="@string/title_activity_param"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.daoliuhe.drive.ui.LineActivity"
            android:label="@string/title_activity_line"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.daoliuhe.drive.ui.LocationActivity"
            android:label="@string/title_activity_location"
            android:screenOrientation="landscape" >
        </activity>

        <service
            android:name="com.daoliuhe.drive.ui.SoundService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name="com.daoliuhe.drive.ui.LineNameActivity"
            android:label="@string/title_activity_line_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.daoliuhe.drive.ui.ScoringActivity"
            android:label="@string/title_activity_scoring" 
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>
